html,
body{
    margin: 0;
    padding: 0;
    /* background: rgb(226, 226, 226) */
}
html{
    background: url(https://img.freepik.com/free-vector/retro-styled-pattern-background_1048-6593.jpg?size=338&ext=jpg)
}
body{
    background: rgba(238, 238, 238, 0);
}

.float {
    float: left;
    margin-right: 15px;
}

h2{
    color: white;
    font-family: 'Indie Flower', cursive;
    margin-top: 20px
}

p,
h3 {
    font-weight: bold;
    color: white;
    text-align: center;
}

#buttons,
#topic-form {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

#topic-form{
    background: rgba(238, 238, 238, 0);
    background: grey;
    border:2px solid black;
    overflow: auto;
}

#pictures{
    padding-left: 5px;
}

#topic-input{
    width: 98%;
    margin-bottom: 15px;
}

.topic{
    margin: 5px
}

.gif{
    margin-bottom: 20px;
    cursor: pointer;
}

#addTopic{
    margin-left: auto;
    margin-right:auto
}