html,
body{
    margin: 0;
    padding: 0;
    background: rgb(226, 226, 226)
}

.float {
    float: left;
    margin-right: 15px;
}

p,
#inputText {
    font-weight: bold;
}

#buttons,
#topic-form {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

#pictures{
    padding-left: 5px;
}

#topic-input{
    width: 98%;
    margin-bottom: 5px;
}

.topic{
    margin: 5px
}

.gif{
    margin-bottom: 20px;
    cursor: pointer;
}